/* Fonte padrão */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
}

/* Transição */
.view-content {
    transition: opacity 0.3s ease-in-out;
}

/* Cores */
.primary-color-bg {
    background-color: #4f46e5;
}

.primary-color-text {
    color: #4f46e5;
}

.primary-color-hover:hover {
    background-color: #4338ca;
}

/* Ícones */
.icon-block {
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.icon-block:hover {
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}
